
@sidebar-bgcolor: #263238;
.layout {
  position: relative;
  height: 100vh;
  .sidebar {
    &:hover{
      //overflow: auto;
    }
    background: @sidebar-bgcolor;
    position: absolute;

    //height: calc(100% - 44px);
    //overflow: hidden;
    //padding-bottom: 10px;
    @media (min-width: 768px) {
      //min-height:  calc(~"100% - 44px");
      min-height: e("calc(100vh - 44px)");
    }

    transition: all 0.3s ease-out;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.01);
    color: #999;


    }
  .container {
    //@media (min-width: 768px) {
    //  margin-left: 240px;
    //}
    //height: 100%;
    overflow: hidden;
    &:hover{
      overflow: auto;
    }
    height:  calc(~"100% - 44px");

  }

  .content {
    //&:hover{
    //  overflow: auto;
    //  //background-color: rebeccapurple;
    //}
    padding: 10px;
    //overflow: hidden;
    background-color: #e6e6e6;
  }
}
