
@sidebar-bgcolor: #263238;
.layout {
  position: relative;
  height: 100vh;
  .sidebar {
    background: @sidebar-bgcolor;
    position: absolute;
    overflow: visible;
    padding-bottom: 24px;
    @media (min-width: 768px) {
      min-height:  calc(~"100% - 44px");
    }

    transition: all 0.3s ease-out;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.01);
    color: #999;


    }
}


