
@sidebar-bgcolor: #263238;
.layout {
  position: relative;
  height: 100vh;
  .sidebar {
    background: @sidebar-bgcolor;
    position: absolute;
    overflow: visible;
    //padding-bottom: 10px;
    @media (min-width: 768px) {
      min-height:  calc(~"100% - 44px");
    }

    transition: all 0.3s ease-out;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.01);
    color: #999;


    }
  .container {
    //@media (min-width: 768px) {
    //  margin-left: 240px;
    //}

  }

  .content {
    padding: 10px;
    //background-color: crimson;
    min-height:  calc(~"100% - 44px");

    //min-height: e("calc(100vh - 184px)");
    //position: relative;
  }
}
