
.trade{
  .actionButton {
    margin-right: 12px
  }
  .listHeader{
      margin-bottom: 10px;
      min-width: 400px;
    .headButton{
      margin: 0 5px
    }
  }
}
.weather {
  &:hover {
    box-shadow: 4px 4px 40px rgba(143,201,251,.6);
  }
}

.quote {
  &:hover {
    box-shadow: 4px 4px 40px rgba(246,152,153,.6);
  }

}
